.sec{
    padding-left:1em;
    background-color: white;
}
.sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 35%;
}
.assign{
    border: solid;
    border-color: whitesmoke;
    background: whitesmoke;
    width: 7rem;
    text-align: center;
}
.edit{
    border: solid;
    border-color: whitesmoke;
    background: whitesmoke;
    width: 7rem;
    text-align: center;
}

.comment{
    border: solid;
    border-color: whitesmoke;
    background: whitesmoke;
    width: 7rem;
    text-align: center;
}
.comments{
    margin-left: 30px;
    border: solid;
    border-color: whitesmoke;
    background: whitesmoke;
    width: 7rem;
    text-align: center;
}
.comments:before{
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: 1rem;
    background-image: url("../assets/images/Comment.svg");
    background-repeat: no-repeat;
    margin-right: 0.3125rem;
  }
.edit:before{
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: 1rem;
    background-image: url("../assets/images/edit.svg");
    background-repeat: no-repeat;
    margin-right: 0.3125rem;
  }
  .comment:before{
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: 1rem;
    background-image: url("../assets/images/Comment.svg");
    background-repeat: no-repeat;
    margin-right: 0.3125rem;
  }
  
  .mainSec{
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      grid-gap: 10px;
      grid-template-rows: 310px;
      
      padding: 10px;
  }
  .grid-item{
     
      padding: 20px;
  }
  .section{
      display:grid;
      align-content: row;
  }
  .sectio{
      color:red;
  }
  .secti{
      color:blue;
  }
  .sect:before{
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: 1rem;
    background-image: url("../assets/images/user_1.svg");
    background-repeat: no-repeat;
    margin-right: 0.3125rem;
  }
  .section1{
    display:grid;
    align-content: row;
    color: gray;
}

.section2{
    display:grid;
    align-content: row;
    color: gray;
}
.att{
    margin-left: 25px;
}
.section3{
    display:grid;
    align-content: row;
    color: gray;
}

.description{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 10px;
    
    margin-left: 1.5%;
}
.agile{
    color: gray;
}
form{
    margin-left: 25px;
    width:60%;
    border: 4px dashed #7E8084;
  }
  form p{
    text-align: center;
    color: #7E8084;
    font-family: Arial;
  }
  form input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }
  .drag:before{
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: 1rem;
    background-image: url("../assets/images/Upload.svg");
    background-repeat: no-repeat;
    margin-right: 0.3125rem;
  }
  .col{
      color:blue;
  }
  .sec4{
      display: flex;
      width:60%;
      justify-content: space-around;
      border-bottom: 2px solid gray;
  }
  .active{
      color: blue;
      border-bottom: 2px solid blue;
  }
  .comm{
      margin-left: 30px;
      color: gray;
  }