.issues{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4% .1fr;
}
.issuessec1{
    display: flex;
    justify-content: space-between;
}
.in{
    background-color: #EBEDF4;
    padding-left: 7em;
    padding-right: 7em;
}
.d{
    background-color: #EBEDF4;
    padding-left: 7em;
    padding-right: 7em;
}
.do{
    background-color: #EBEDF4;
    padding-left: 10em;
    padding-right: 10em;
}
.issuebox1{
    margin-left: 20px;
    margin-right: 30px;
    flex-grow: 1;
    font-size: 200%;
    height: 5px;
    width: 10px;
}
.issuebox2{
    color: grey;
    font-size: 120%;
    margin-right: 50px;
    height: 10px;
    width: 10px;
}
.issuebox3{
    margin-right: 50px;
    font-size: 120%;
    height: 10px;
    width: 10px;
}
.issuebox4{
    padding-top: 25px;
    margin-right: 70px;
    height: 10px;
    width: 10px;
}
.issuebox5{
    padding-top: 20px;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.issuebox6{
    padding-top: 20px;
    height: 30px;
    width: 30px;
}
.issuessec2{
    display: flex;
    justify-content: space-around;
}
.issuessec3{
    display: flex;
    justify-content: space-around;
}
.issue2box1{
    margin-left:10px;
    display: grid;
    grid-template-rows: 2% 15% 15% 15% 15% 15%;
    grid-gap:5px;
    box-shadow: -5px 5px #E2E2E3;
    background-color: #EBEDF4;
}
.issue2box2{
    display: grid;
    grid-template-rows: 2% 15% 15%;
    grid-gap:5px;
    margin-left:10px;
    box-shadow: -5px 5px #E2E2E3;
    background-color: #EBEDF4;
}
.issue2box3{
    display: grid;
    grid-template-rows: 2% 15% 15% 15% 15%;
    grid-gap:5px;
    margin-left:10px;
    box-shadow: -5px 5px #E2E2E3;
    background-color: #EBEDF4;
}
.issuedet1{
    display: grid;
    grid-template-rows: 15% 10% 15% 5% 15%;
    background-color: white;
    grid-gap: 5px;
    height:250px;
    margin-bottom: 0;
    border-bottom: 80px solid #EBEDF4;
}
.dateid{
    margin-bottom: 0;
    padding-bottom: 0;
    display:flex;
    justify-content: space-between;
}
.issueid{
    margin-left: 10px; 
    font-size: 90%;
}
.issuedate{
    margin-right: 10px;
    font-size:80%;
    color: grey;
}
.heading{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 150%;
}
.defination{
    margin-top:0;
    margin-right: 10px;
    margin-left: 10px;
    color:grey;
    font-size:90%;
}
.refer{
    display:flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.assignee{
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    color:grey;
}
.status{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-right: 10px;
    color:grey;
}
.report{
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    display:flex;
    justify-content: space-between;
}
.prio{
    background-color: red;
}
.priority{
    padding-top: 0;
    margin-top: 0;
}
.ux{
    flex-grow: 1;
    margin-top: 0;
    display:grid;
    grid-template-rows: 30% 30%;
}
.done{
    background-color:green;
}
.inprogress{
    background-color: yellow;
}
.ui{
    color: gray;
}